<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="fb_key" value="272091116298035"/>
      <add key="fb_secret" value="710cc017dd25e271c3188ffa75630a5d"/>
    </appSettings>
 
</configuration>